@page "/Login"


<h1>Radzen Blazor Chart with line series</h1>
<div class="row">
    <div class="col-md-6 col-sm-12 p-4">
        <label>Smooth <RadzenCheckBox @bind-Value="@smooth" Name="smooth"></RadzenCheckBox></label>
        <RadzenCard>
            <RadzenLogin AllowResetPassword="false"
                         Login="@((args) => login(args, "Login with register"))"
                         Register="@((args) => Register("Login with register"))" Style="margin-bottom: 30px;" />
        </RadzenCard>
    </div>
</div>
@code {
    bool smooth = false;
    class DataItem
    {
        public DateTime Date { get; set; }
        public double Revenue { get; set; }
    }

    string FormatAsUSD(object value)
    {
        return null;
      //  return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-US"));
    }

    DataItem[] revenue2019 = new DataItem[] {
        new DataItem
        {
            Date = DateTime.Parse("2019-01-01"),
            Revenue = 234000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-02-01"),
            Revenue = 269000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-03-01"),
            Revenue = 233000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-04-01"),
            Revenue = 244000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-05-01"),
            Revenue = 214000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-06-01"),
            Revenue = 253000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-07-01"),
            Revenue = 274000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-08-01"),
            Revenue = 284000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-09-01"),
            Revenue = 273000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-10-01"),
            Revenue = 282000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-11-01"),
            Revenue = 289000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-12-01"),
            Revenue = 294000
        }
    };

    DataItem[] revenue2020 = new DataItem[] {
        new DataItem
        {
            Date = DateTime.Parse("2019-01-01"),
            Revenue = 334000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-02-01"),
            Revenue = 369000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-03-01"),
            Revenue = 333000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-04-01"),
            Revenue = 344000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-05-01"),
            Revenue = 314000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-06-01"),
            Revenue = 353000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-07-01"),
            Revenue = 374000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-08-01"),
            Revenue = 384000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-09-01"),
            Revenue = 373000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-10-01"),
            Revenue = 382000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-11-01"),
            Revenue = 389000
        },
        new DataItem
        {
            Date = DateTime.Parse("2019-12-01"),
            Revenue = 394000
        }
    };
}
<RadzenCard>
    <RadzenLogin AllowResetPassword="true" ResetPasswordText="Forgot password" Register="@Login0Register">
    </RadzenLogin>

    <RadzenLogin Login="@((args) => test(args))" Style="margin-bottom: 20px;" />
</RadzenCard>
@code {
    string userName = "admin";
    string password = "admin";
    string password1 = "admin";
    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();
    public void Login0Register()
    {
        //args.
        Console.WriteLine();
    }
    public void test(LoginArgs args)
    {
        //args.
        Console.WriteLine();
    }
    void login(LoginArgs args, string name)
    {
        events.Add(DateTime.Now, $"{name} -> Username: {args.Username} and password: {args.Password}");
        StateHasChanged();
    }

    void Register(string name)
    {
        events.Add(DateTime.Now, $"{name} -> Register");
        StateHasChanged();
    }

    void ResetPassword(string value, string name)
    {
        events.Add(DateTime.Now, $"{name} -> ResetPassword for user: {value}");
        StateHasChanged();
    }
}